doctype html 
html
  head
    title Puggg
    meta(charset="utf-8")
    link(rel="stylesheet" href="/styles/main.css")
    //- jQuery
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    //- Sweet Alert2
    script(src="//cdn.jsdelivr.net/npm/sweetalert2@11")
    block scripts
  body
    include header 
    block content
    include footer
    if message
      script.
        Swal.fire(
          '#{message.title}',
          '#{message.greeting}',
        )
