* {
  box-sizing: border-box;
}

table {
  background: #eee;
  border-spacing: 0;
  border: 1px solid #aaa;
  border-radius: 10px;
  overflow: hidden;
}

thead {
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background: #fff;
}

tr {
  text-align: center;
}

th,
td {
  padding: 10px 20px;
  border: 0;
}

a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  text-decoration: none;
  color: #000;
}

a.active {
  background: #eee;
}

a:hover {
  color: lightblue;
}